[Unit]
Description=SmartMeter to CHORDS Service
After=network.target
StartLimitIntervalSec=0

[Service]
User=pi
Restart=always
RestartSec=5
RuntimeMaxSec=3600s
Type=simple
WorkingDirectory=/home/pi/SmartMeterToChords
ExecStart=/usr/bin/python3 /home/pi/SmartMeterToChords/smartMeterToChords.py -c /home/pi/SmartMeterToChords/config.json --debug

[Install]
WantedBy=multi-user.target